.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.App-header {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

.results-wrapper {
  margin: 1rem 1rem 1rem 0;
  padding: 0.5rem;
}

.result-span {
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  padding: 0.5rem 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search .wrapper:first-child svg {
  border: 4px solid blue !important;
}

.search .wrapper:first-child input {
  border: 4px solid red !important;
}

.search .wrapper:first-child {
  border: 4px solid orange;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
